.article-item-container {
    .title {
        color: #6CE26C;
        font-size: 28px;
        a {
            text-decoration: none;
            color:inherit;
        }
    }
    .time {
        font-size: 20px;
        margin-top: 14px;
    }
    .describe {
        font-size: 20px;
        margin-top: 14px;
        line-height: 26px;
    }
    & + & {
        margin-top: 50px;
    }
}